.calculator {
  width: 85%;
  max-width: 500px;
  margin: 0.5% auto;
  padding: 25px 4.5%;
  border-radius: 9px;
  background-color: #ffffff;
  background-image: url(../img/back-icon.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 25%;
  box-shadow: 0 2px 20px rgba(83, 83, 83, 0.2);
}

.calculator__toggle {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-around;
  border: none;
}

.calculator__toggle-input:checked + .calculator__toggle-title {
  color: #ffffff;
  background-color: #7fbc00;
}

.calculator__toggle-input:focus + .calculator__toggle-title {
  border: 2px solid #77ad02;
}

.calculator__toggle-title {
  width: 50%;
  max-width: 200px;
  height: 31px;
  margin-right: 15px;
  padding-top: 10px;
  border: 2px solid #7fbc00;
  background-color: #ffffff;
  &:hover {
    color: #7fbb00;
  }
}

.calculator__toggle-title--margin {
  margin-right: 0;
}

.calculator__section {
  margin: 0;
  padding: 15px;
  border: 2px solid #7fbc00;
  border-radius: 9px;
  background-color: #ffffff;
}

.calculator__section-title {
  padding: 0 5px;
  font-size: 22px;
  font-weight: bold;
  color: #7fbb00;
}

.calculator__button {
  max-width: 600px;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 9px;
  border: none;
}

.calculator__button-calculate {
  width: 55%;
  max-width: 600px;
  margin: 0 auto;
  padding: 11px 0 10px 0;
  color: #ffffff;
  border: 2px solid #7fbc00;
  background-color: #7fbc00;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border: 2px solid #77ad02;
  }
  &:hover {
    border: 2px solid #77ad02;
  }
}

.calculator__button-count {
  width: 55%;
  max-width: 600px;
  margin: 0 auto;
  padding: 11px 0 10px 0;
  color: #ffffff;
  border: 2px solid #e2574c;
  background-color: #e2574c;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: inherit;
  &:focus {
    outline: none;
    border: 2px solid #c74c44;
  }
  &:hover {
    border: 2px solid #c74c44;
  }
}

